section {
    position: relative;
    height: 15%;
    margin: 5px;
    font-size: 10px;
}

p {
    margin: 0px;
}

hr {
    box-sizing: border-box;
    width: 100%;
    opacity: 1;
    border-top: 5px solid var(--body);
    border-radius: 5px;
    margin: 2px;
}

/*Rodapé*/
ul {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px;
    /* margin-right: 40px; */
    padding: 0px;

    img {
        width: 30px !important;
        height: 30px !important;

    }
}

img {
    opacity: 0.5;
}

img:hover {
    /* background-color: var(--body); */
    /* border-radius: 5px; */
    opacity: 1;
}

.align-list {
    display: inline-block;
    /* margin-left: 40px; */
    padding: 1px 10px 1px 10px;
    margin: 1px 10px 1px 10px;
    text-align: center;
    align-items: center;
}

.list-total {
    text-align: center;
    justify-content: center center;
}

@media screen and (max-width: 920px) and (orientation:landscape) {
    p {
        display: none;
    }
}