<section>

    <div class="container fade-in theme-switch">  

        <div class="image-container">
            <img src="https://avatars.githubusercontent.com/u/98328959?v=4" alt="Clique para mudar o Tema" onclick="cycleThemes()">
            <div class="tooltip-text">Clique na imagem para mudar de tema</div>
        </div>
        
        <div class="texto">
            
            <h2>Olá!</h2>

            <h4>É um prazer te ver aqui.</h4>

            <p>Meu nome é <b>Lucas Herculano Amaro</b> e sou um <b>Professor de Desenvolvimento de Sistemas</b> e <b>Desenvolvedor Java</b>.</p>

            <p>Neste site, vou apresentar com mais detalhes os meus estudos e minhas experiências profisionais.</p>

            <p>Navegue pelo menu para conhecer meus estudos, atividades profissionais e meus projetos pessoais.</p>


            
        </div>  

    </div>

</section>