body{
    overflow-x: hidden;
}

/*Fonte Padrão*/
.letra{
    color: #FD8301;
    font-size: 20px;
}

/*Primeira Imagem Background*/
.img1{
    background-image: url("img/L_H_A.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Segunda Imagem Background*/
.img2{
    background-image: url("img/L_H_A_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    display: flex;
    height: 100%;
    width: 100%;
}

/*Terceiro Imagem Background*/
.img3{
    background-image: url("./img/L_H_A_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    display: flex;
    height: 100%;
    width: 100%;
}

/*Quarto Imagem Background*/
.img4{
    background-image: url("./img/L_H_A_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20px;
    display: flex;
    height: 100% !important; 
    width: 100%;
}

/*Quinto Imagem Background*/
.img5{
    background-image: url("./img/L_H_A_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    width: 100%;
}

/*Alinhamento Divisão 1*/
.alinhamento-div{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 10%;
}

.margem-tela-1{
    margin: 5px 10px 120px;
}

/*Links de navegação*/
.alinhamento-nav{
    align-items: left;
}

/*Alinhamento Divisão 2*/
.alinhamento2-div{
    margin-top: 3%;
    height: 100%;
    width: 100%;
}

/*Alinhamento Divisão 3*/
.alinhamento3-div{
    margin-top: 2%;
    height: 650px;
    width: 100%;
}

/*Alinhamento Divisão 4*/
.alinhamento4-div{
    margin-top: 8%;
    max-height: 80%;
    width: 100%;
}

/*Alinhamento Divisão 5*/
.alinhamento5-div{
    padding: 5px;
    position: relative;
    text-align: center;
    align-items: center;
    margin-top: 15%;
    max-height: 550px;
    width: 100%;
}

/*Carousel Formação Acadêmica*/
.carousel-inner-1{
    height: 550px;
    width: 100%;
}

/*Carousel de Contato*/
.carousel-inner-2{
    height: 350px;
    width: 100%;
}

/*Corpo dos cards*/
.card-body{
    background-color: black !important;
}

/*Tamanho do card*/
.card{
    max-width: 650px;
}

/*Foto de Perfil*/
img{
    max-width: 230px;
    max-height: 230px;
    width: auto;
    height: auto;
}

/*Links da tela Home e Profissional*/
.lista-hover:link, .lista-hover:visited {
    background-color: black !important;
    color: #FD8301 !important;
    text-align: center;
    font-size: 16px;
}
  
.lista-hover:hover, .lista-hover:active {
    background-color: #FD8301 !important;
    color: black !important;
    font-size: 16px;
}

/*Links dos icones*/
.lista-icones:link, .lista-icones:visited {
    background-color: black !important;
    color: black !important;
    text-align: center;
    font-size: 18px;
}
  
.lista-icones:hover, .lista-icones:active {
    background-color: #FD8301 !important;
    color: black !important;
    font-size: 18px;
}

.list-group-item {
    background-color: black !important;
}

/*Fundo que corre*/
::-webkit-scrollbar {
	width: 10px;
	background: Black; 
}

/*Linha que desce*/
::-webkit-scrollbar-thumb {
	background: #E4A11B;
	border-radius: 15px;
}

/*Barra de Rolagem*/
.start {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    
    /* visual styling */
    height: 90vh;
    flex-direction: column; 
    padding: 10px;
}
  
/* ======================================== */
  
/* Unrelated to scroll snap, visual styling */
.rolagem {
    background: black;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

