<section>
    <!--Formação Acadêmica-->
    <div class="academic fade-in">
        <h2 class="tema-pagina" style="text-align: end;">Formação Acadêmica</h2>

        <div class="container">
            <p style="margin-left: 0px;">Gostaria de compartilhar algumas das grandes conquistas da minha jornada de estudos.</p>
    
            <h4 style="margin-top: 30px;"><b>Análise e Desenvolvimento de Sistemas</b></h4>
            <p>Esta é a minha formação mais recente concluído em junho de 2023.</p>  
            
            <p>Aprendi um pouco de cada área que compõe um sistema (Redes, Banco de Dados, Engenharia de Sistema, Linguagem de Programação etc).</p>

            <p>O bootcamp na <b>Generation Brasil</b> serviu como horas complementares, e me ensinou técnicas de Desenvolvimento Full Stack que também foram abordadas no conteúdo da faculdade.</p>
    
            <h4 style="margin-top: 30px"><b>Desenvolvedor Full Stack Java Jr.</b></h4>
            <p>Esta formação me ajudou a ingressar no mercado de trabalho, já que abordou metodologias, conceito e boas práticas de desenvolvimento. A conclusão foi em abril de 2023.</p>

            <p>Neste curso estudei a teoria e a prática com: Portugol, linguagem Java, desenvolvimento com Spring Boot, utilização de Javascript, CSS, Typescript com o Visual Studio Code, testes com Postman e manipulação básica de dados com MySQL.</p>

            <p>Graças a esses conhecimentos, eu consegui minha primeira atividade profissional em tecnologia no Hospital Israelita Albert Einstein, realizando estágio em Análise de Dados.</p>
    
            <h4 style="margin-top: 30px;"><b>Técnico de Segurança do Trabalho</b></h4>
            <p>Após o ensino médio, cursei Técnico de Segurança do trabalho, concluído em março de 2018.</p>
            
            <p>Nesse curso estudei sobre as Normas Regulamentadoras e como elas se aplicam no ambiente de trabalho.</p>

            <p>Para complementar meu conhecimento, realizei os cursos: <i>Trabalho em Altura</i> e <i>Prevenção e Combate à Princípios de Incendio</i></p>

            <p>Embora não exerço a profissão, muitas pessoas me procuram para tirar dúvidas sobre seus direitos no ambiente ocupacional. Também uso meus conhecimentos para prestar ajuda voluntária em projetos de construção ou reforma.</p>
            
        </div>
    </div>
</section>