<section>
    <!--Contatos-->
    <div class="contact fade-in">
        <h2 class="tema-pagina" style="text-align: end;">Contatos</h2>
        
            <div class="list-total">
                <ul class="list-contact">
                    <!--LinkedIn-->
                    <li class="align-list">
                        <h4 class="letra">LinkedIn</h4>
                        <a href="https://www.linkedin.com/in/lucas-amaro-5711611ab/" class="linkedin">
                            <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
                        </a>
                    </li>
            
                    <!--Github-->
                    <li class="align-list"><h4 class="letra">Github</h4>
                        <a href="https://github.com/LucasHerculanoAmaro" target="_blank" class="github">
                            <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github"/>
                        </a>
                    </li>
                            
                    <!--Outlook-->
                    <li class="align-list"><h4 class="letra">Outlook</h4>
                        <a href="mailto:lucash.96@hotmail.com" target="_blank" class="outlook">
                            <img width="48" height="48" src="https://img.icons8.com/color/48/microsoft-outlook-2019--v2.png" alt="microsoft-outlook-2019--v2"/>
                        </a>
                    </li>
    
                    <!--WhatsApp-->
                    <li class="align-list"><h4 class="letra">WhatsApp</h4>
                        <a href="https://wa.me/+5511956396531" target="_blank" class="whatsapp">
                            <img width="48" height="48" src="https://img.icons8.com/color/48/whatsapp--v1.png" alt="whatsapp--v1"/>
                        </a>
                    </li>
                    
                </ul>
            </div>
        
    </div>

</section>

<!--
href="https://web.whatsapp.com/send?phone=5511956396531"

href="mailto:lucash.96@hotmail.com"
-->