<div class="container">

    <div class="texto">

        <!-- Faculdade -->
        <h3>Análise e Desenvolvimento de Sistemas</h3>

        <p>Em <b>Fevereiro de 2021</b> iniciei esta faculdade na <b>UNISA - Universidade Santo Amaro</b>, onde concluí em <b>Junho de 2023</b>.</p>

        <p>Aliado a este estudo, realizei diversas atividades extra-curriculares para complementar os meus estudos.</p>

        <p>Entre as atividades complementares, destaco o bootcamp da <b>Generation Brasil</b>, que abriu portas para futuras oportunidades profissionais. A seguir, vou explicar um pouco mais sobre o bootcamp.</p>

        <hr>

        <!-- Bootcamp -->
        <h3>Desenvolvedor Full Stack Java Jr</h3>
        
        <p>Neste bootcamp, aprendi diversas habilidade e conceitos que me ajudam a ser um desenvolvedor melhor. Veja abaixo o conteúdo abordado:</p>

        <ul>
            <li>Método <b>SCRUM</b>;</li>

            <li>Linguagem SQL;</li>
            <li>Conhecendo o <b>MySQL</b>;</li>
            <li>Administração e Consultas de Banco de Dados;</li>

            <li>Desenvolvimento front-end com <b>Visual Studio Code</b>;</li>
            <li>Desenvolvendo com <b>Bootstrap</b>;</li>
            <li>Conhecendo o <b>NODE.JS</b> e o <b>Angular Framework</b>;</li>

            <li>Lógica de programação com <b>Portugol</b>;</li>
            <li>Básico da linguagem <b>Java</b> com <b>Eclipse IDE</b>;</li>
            <li><b>POO</b> - Programação Orientada a Objetos;</li>
            <li>Conhecendo o <b>Spring Boot</b>;</li>

            <li>Criando um projeto <b>Full Stack</b> com <b>Spring Boot</b> e <b>Angular</b>;</li>



        </ul>

    </div>

</div>