<section>

    <div class="container fade-in theme-switch">  

        <div class="image-container">
            <img src="https://avatars.githubusercontent.com/u/98328959?v=4" alt="Clique para mudar o Tema" onclick="cycleThemes()">
            <div class="tooltip-text">Clique na imagem para mudar de tema</div>
        </div>
        
        <div class="texto">
            <h2>Lucas Herculano Amaro</h2>
            <ul>
                <li>Professor de Tecnologia da Informação;</li>
                <li>Desenvolvedor Full Stack;</li>
                <li>Analista de Dados;</li>
            </ul>

            <div class="proximo">
                <button type="button" class="btn btn-outline-success" [routerLink]="['/page']">Avançar</button>
            </div>
        </div>  

    </div>

</section>