<section id="apresentation">
    <!--Apresentação-->
    <div class="apresentation fade-in">
        <h2 class="tema-pagina" style="text-align: end;">Apresentação</h2>
        
        <div class="container">    
            <img src="https://lucasherculanoamaro.github.io/img/perfil.jpg" alt="Foto de Perfil" style="width: 20%;">
            <div class="text-apresentation">
                <p>Prezados,</p>   
                <p>Meu nome é <b>Lucas Herculano Amaro</b>, tenho 27 anos e sou morador em São Paulo - SP.</p>

                <p>Estudei <b>Análise e Desenvolvimento de Sistemas</b> pela Universidade Santo Amaro (<b>UNISA</b>), concluído no dia 30 de junho de 2023, e realizei o curso <b>Desenvolvimento Full Stack Java Junior</b> na instituição <b>Generation Brasil</b>, concluído em abril de 2022.</p> 

                <p>Trabalhei no <b>Hospital Israelita Albert Einstein</b>, realizando o estágio na função de <b>Analista de Dados</b> no núcleo BI. Também trabalhei no projeto <b>Novotech</b> da <b>Escola Técnica Sequencial</b>, na função de <b>Professor de Informática</b> para o Ensino Médio Técnico.</p>

                <p>Uso meu tempo livre para estudar e aprimorar meus conhecimentos, utilizando o que aprendi em meus estudos anteriores (<i>Java, Python, SQL, CSS, Javascript, Typescript etc</i>) e experiência profissional (<i>Visual Studio Data Tools</i>, <i>SQL</i>, <i>SSIS</i>, <i>SSRS</i>, <i>ETL</i> etc). Uma curiosidade é que eu desenvolvi este site, utilizando <b>Angular</b>, <b>Node.js</b>, <b>Javascript</b>, <b>Typescript</b>, <b>CSS</b>, e auxílio das ferramentas do <i>Visual Studio Code</i>. </p>
                
            </div>
        </div>
    </div>
</section>