
.navigation {
    position: fixed;
    height: 650px;
    background: var('--primary');
    width: 55px;

   /* box-shadow: 10px 0 0;  #77f68c;*/
    border-left: 10px solid var('--primary');

    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 0px;
}

.navigation:hover {
    width: 280px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 0px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Estilo padrão para a lista 
li {
    border: 1px solid #F7FABE;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;*//* Transição suave para a cor de fundo 
}*/ 
  
/* Estilo de hover para a lista */
li:hover {
    background-color: #77f68c;  
    border-radius: 20px;
}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 70px;
}

.navigation ul li a .icon i {
    position: relative;
    font-size: 1.5rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 0px;
    height: 40px;
    line-height: 67px;
    white-space: nowrap;
}

/*
.navigation ul li.active {
    background: #77f68c;
}
*/

.navigation ul li.active a::before {
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var('--primary');
    border-radius: 50%;
/*   box-shadow: 15px 15px 0 #77f68c; */
}

.navigation ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var('--primary');
    border-radius: 50%;
/*    box-shadow: 15px -15px 0 #77f68c;*/
}

.icon-home {
    color: #258730;
}

.icon-showMe {
    color: #F46747;
}

.icon-academic {
    color: #BC4CB9;
}

.icon-professional {
    color: #FCA61F;
}

.icon-contacts {
    color: #A6A6A6;
}

@media (max-width: 1100px) and (orientation: portrait) {
    .navigation{
        display: none;    
    }
    ul {
        list-style: none;
    }
    ul li a {
        text-decoration: none;
    }
    .navbar{
        background: var(--body);
    }
    ul li a .icon i {
        position: relative;
        font-size: 2rem;
        z-index: 1;
    }
    .title{
        font-size: 25px;
        margin-left: 20px;
    }
    .botao-tema{
        margin-left: 55px;
    }
    .lista-tema{
        color: var( --texto-into);
        margin: 40px 0px 0px 0px;
    }
    ul{
        padding-left: 0px;
    }
    .navbar{
        background-color: var(--texto-into);
    }
    .p-4 {
        background: var(--cor-alternativa) !important;
    }
}

@media (max-width: 1100px) and (orientation: landscape) {
    .navigation{
        display: none;    
    }
    ul {
        list-style: none;
    }
    ul li a {
        text-decoration: none;
    }
    .navbar{
        background: var(--body);
    }
    ul li a .icon i {
        position: relative;
        font-size: 2rem;
        z-index: 1;
    }
    .title{
        font-size: 25px;
        margin-left: 20px;
    }
    .botao-tema{
        margin-left: 55px;
    }
    .lista-tema{
        color: var( --texto-into);
        margin: 15px 0px 0px 400%;
    }
    ul{
        padding-left: 0px;
    }
    .navbar{
        background-color: var(--texto-into);
    }
    .p-4 {
        background: var(--cor-alternativa) !important;
    }
}

/*O menu somente estará disponível para celular*/
@media (min-width: 1100px) { 
    .smart-menu{
        display: none;   
    }
    
}
