<section>

    <nav class="navigation">
        <ul>
            <li class="list active">
                <a [routerLink]="['']">
                    <span class="icon icon-home"><i class="bi bi-house"></i></span>
                    <span class="title" style="color: #258730;"><b>Início</b></span>
                </a>
            </li>
            <li class="list">
                <a [routerLink]="['apresentacao']">
                    <span class="icon icon-showMe"><i class="bi bi-file-earmark-person"></i></span>
                    <span class="title" style="color: #F46747;"><b>Apresentação</b></span>
                </a>
            </li>
            <li class="list">
                <a [routerLink]="['academico']">
                    <span class="icon icon-academic"><i class="bi bi-mortarboard-fill"></i></span>
                    <span class="title" style="color: #BC4CB9;"><b>Formação Acadêmica</b></span>
                </a>
            </li>
            <li class="list">
                <a [routerLink]="['profissional']">
                    <span class="icon icon-professional"><i class="bi bi-code-slash"></i></span>
                    <span class="title" style="color: #FCA61F;"><b>Experiência Profissional</b></span>
                </a>
            </li>
            <li class="list">
                <a [routerLink]="['contato']">
                    <span class="icon icon-contacts"><i class="bi bi-telephone-fill"></i></span>
                    <span class="title" style="color: #A6A6A6;"><b>Contatos</b></span>
                </a>
            </li>
            <div class="botao-tema" alt="Clique aqui para mudar de Tema">
                <button type="button">
                    <input type="checkbox" class="checkbox" id="chk">

                    <label class="label" for="chk" (click)="toggle()">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <div class="ball"></div>
                    </label>
                </button>
            </div>

        </ul>
    </nav>

    <!--Display para celular-->
    <div class="fixed-top smart-menu">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="p-4">
            <ul>
                <li class="list">
                    <a [routerLink]="['']">
                        <span class="icon icon-home"><i class="bi bi-house"></i></span>
                        <span class="title" style="color: #258730;"><b>Início</b></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['apresentacao']">
                        <span class="icon icon-showMe"><i class="bi bi-file-earmark-person"></i></span>
                        <span class="title" style="color: #F46747;"><b>Apresentação</b></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['academico']">
                        <span class="icon icon-academic"><i class="bi bi-mortarboard-fill"></i></span>
                        <span class="title" style="color: #BC4CB9;"><b>Formação Acadêmica</b></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['profissional']">
                        <span class="icon icon-professional"><i class="bi bi-code-slash"></i></span>
                        <span class="title" style="color: #FCA61F;"><b>Experiência Profissional</b></span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['contato']">
                        <span class="icon icon-contacts"><i class="bi bi-telephone-fill"></i></span>
                        <span class="title" style="color: #A6A6A6;"><b>Contatos</b></span>
                    </a>
                </li>
                <div class="botao-tema" alt="Clique aqui para mudar de Tema">
                    <button type="button">
                        <input type="checkbox" class="checkbox" id="chk">
        
                        <label class="label" for="chk" (click)="toggle()">
                            <p class="lista-tema"><b>Tema</b></p>
                        </label>
                    </button>
                </div>
                    
            </ul>
          </div>
        </div>
        <nav class="navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>

      
</section>