<div class="container">

    <!-- Introduction -->
    <p>Vou adicionar aqui alguns projetos de desenvolvimento que tenho. Não vou colocar todos os projetos, mas apenas
        aqueles que são relevantes ao contexto atual com o meu trabalho.</p>

    <p>Para criar o conteúdo das aulas tive pesquisar bastante, e os créditos, presentes no final de cada aula reforça o
        respeito que tenho com o autor do conteúdo usado.</p>

    <hr>

    <!-- Basic Java -->
    <h3>Introdução a linguagem Java</h3>

    <p>Gosto muito de ensinar Java aos meus estudantes, e faço questão de deixar o conteúdo disponível no meu
        <b>Github</b> para futuras consultas.
    </p>

    <p>Se desejar observar algumas aulas, você pode acessar este <a
            href="https://github.com/LucasHerculanoAmaro/Minhas-Aulas/tree/main/Euripedes%20Sim%C3%B5es%20de%20Paula/Java">Link</a>.
    </p>

    <p>Abaixo estão os temas das matérias:</p>
    <ul style="list-style: decimal-leading-zero;">
        <li>Programação Orientada a Objetos 1</li>
        <li>Programação Orientada a Objetos 2</li>
        <li>Introdução ao Java</li>
        <li>Main()</li>
        <li>Entrada e Saída de dados</li>
        <li>Váriaveis e Constantes</li>
        <li>Operadores</li>
        <li>Laços</li>
        <li>Matrizes e Vetores</li>
        <li>Collections</li>
        <li>Lambda</li>
        <li>Optional</li>
        <li>Stream</li>
        <li>CRUD</li>
        <li>CRUD + Springboot + Angular</li>
    </ul>

    <hr>

    <!-- Database with MySQL -->
    <h3>Banco de Dados</h3>

    <p>Tive a oportunidade de ensinar aos estudantes sobre Banco de Dados.</p>

    <p>Esse conteúdo é baseado em banco de dados do modelo <b>relacional</b>, e a linguagem <b>SQL</b> é utilizada em nossas aulas.</p>

    <p>Nessa matéria, os estudantes aprendem conceitos de administração de banco de dados, e praticam o que aprendem utilizando o <b>MySQL</b>.</p>

    <p>Tenho interesse em incluir a grade conteúdos que abordam banco de dados <b>não relacional</b>.</p>

    <hr>

    <!-- Mtech Project -->
    <h3>Mtech</h3>

    <p>Este projeto foi feito durante as aulas da <b>Generation Brasil</b>, sendo desenvolvido por um grupo de
        estudantes e apresentado para empresas parceiras do programa.</p>

    <p>O objetivo é criar uma rede social para ajudar mulheres a ingressar na área de Tecnologia.
    <p>

    <p>O projeto <b>MTech</b> conta com tela de <b>Login</b>, tela de <b>Cadastro</b> e tela de <b>Início</b>, e os
        usuários podem criar <b>Temas</b> e contam com ações para <b>criar</b>, <b>ler</b>, <b>atualizar</b> e
        <b>deletar</b> uma postagens.</p>

    <p>Linguagens, Frameworks e outras ferramentas utilizadas:</p>
    <ul>
        <li>Angular;</li>
        <li>Node.js;</li>
        <li>JavaScript;</li>
        <li>TypeScript;</li>
        <li>CSS;</li>
        <li>BootStrap;</li>
        <li>Figma.</li>
    </ul>

    <p>Se desejar ver o repositório no GitHub, <a href="https://github.com/Mtech02?tab=repositories"
            target="_blank"><b>Clique Aqui</b></a>.</p>

    <b>Este projeto é similar ao próximo projeto abaixo.</b>

    <hr>
    <!-- Blog Pessoal -->
    <h3>Blog Pessoal</h3>
    <p>Este projeto foi feito durante as aulas da Generation Brasil, e o objetivo foi criar uma rede social com
        Springboot e Angular, com integração com o MySQL.
    <p>

    <p>Tenho um imenso carinho com este projeto, pois ele me ajudou a ingressar no mundo da tecnologia, e desenvolvê-lo
        me ajudou a ver os sistemas WEB de forma diferente, saindo da visão de um usuário para a visão de um
        desenvolvedor.</p>

    <p>O projeto <b>BlogPessoal</b> conta com tela de <b>Login</b>, tela de <b>Cadastro</b> e tela de <b>Início</b>, e
        os usuários podem criar <b>Temas</b> e contam com ações para <b>criar</b>, <b>ler</b>, <b>atualizar</b> e
        <b>deletar</b> uma postagens.

    <p>Linguagens, frameworks e outras ferramentas utilizadas:</p>
    <ul>
        <li>Angular;</li>
        <li>Node.js;</li>
        <li>JavaScript;</li>
        <li>TypeScript;</li>
        <li>CSS;</li>
        <li>BootStrap;</li>
        <li>Figma.</li>
    </ul>

    <p>Se desejar ver o repositório do código <b>back-end</b> no GitHub,
        <a href="https://github.com/LucasHerculanoAmaro/BlogPessoal---Lucas---Angular" target="_blank"><b>Clique
                Aqui</b></a>.
    </p>
    <p>Se desejar ver o repositório do código <b>front-end</b> no GitHub,
        <a href="https://github.com/LucasHerculanoAmaro/BlogPessoal-Back-End" target="_blank"><b>Clique Aqui</b></a>.
    </p>

    <hr>

    <!-- Employee List -->
    <h3>Lista de Funcionários</h3>

    <p>Este projeto foi feito com base no conteúdo do canal <b>Java Guides</b>, e o objetivo é criar um projeto Full Stack para controle de funcionários.<p>

    <p>Ao implementar o método CRUD, é possível cadastrar um funcionário, atualizar suas informações, deletar os dados do funcionário e ver a lista de funcionários cadastrados no banco de dados.</p>

    <p>O projeto Lista de Funcionários conta com uma tela de <b>cadastro</b> de funcionários, tela para <b>atualizar</b> registros, tela para <b>deletar</b> um funcionário e uma tela para <b>apresentar</b> uma lista com todos os funcionários.</p>

    <p>Abaixo estão as linguagens e ferramentas necessárias para desenolver este projeto:</p>

    <ul>
        <li>Springboot;</li>
        <li>MySQL;</li>
        <li>Angular;</li>
        <li>Node.js;</li>
        <li>BootStrap;</li>
        <li>Postman;</li>
    </ul>

    <p>Se desejar ver o repositório no GitHub,
        <a href="https://github.com/LucasHerculanoAmaro/Desenvolvendo-em-Java/tree/main/SpringBoot_CRUD_FullStack"
            target="_blank"><b>Clique Aqui</b></a>.
    </p>

    <hr>

    <!-- Login, password and Authentication -->
    <h3>Login e Autenticação</h3>

    <p>O último projeto que estudei nas férias foi o conteúdo do canal <b>Fernanda Kipper | Dev</b>, e o objetivo é aprender a trabalhar com login, senha e token de autenicação.</p>

    <p>Embora fosse uma implementação que aprendi com projetos de <b>Generation Brasil</b>, ainda não tinha um domínio bom do assunto. Por isso, resolvi estudar a respeito antes de prosseguir com projetos pessoais que tenho em mente para o futuro.</p>

    <p>Abaixo estão as linguagens e ferramentas necessárias para desenolver este projeto:</p>

    <ul>
        <li>Springboot;</li>
        <li>MySQL;</li>
        <li>Angular;</li>
        <li>Node.js;</li>
        <li>BootStrap;</li>
        <li>Postman;</li>
    </ul>

    <hr>

    <!-- About my studies -->
    <h3>Sobre o que estudo</h3>
    <p>Algo que talvez possa incomodar você é o fato de estudar criar diversos projetos e aulas com as mesmas ferramentas e linguagens. Acredite, isso me incomoda também.</p>
    
    <p>Mas eu entendo que não posso ser preciptado e aprender diversas outras tecnologias sem ter domínio das que eu conheço.</p>

    <p>Se que existem mais algumas ferramentas, metodologias e tecnologias que faltam a meu portifólio e eu preciso e vou aprender (por exemplo, infra-estrutura e armazenamento em núvem).</p>

    <p>Mas acredito que estudar com calma, sem atropelar conteúdo pensando em quantidade, vai me ajudar a ter qualidade com o que estudo e trabalho hoje.</p>

    <p>Se quero aprender coisas novas, diferentes? <b>Sim, quero muito!</b> Mas tudo em seu devido tempo. </p>


</div>