<div class="container fade-in">

    <p>Vou apresentar a você as minhas experiências profissionais de forma mais detalhada, de um jeito que não consigo explicar em um currículo formal.</p>

    <hr>

    <h3>Analista de Dados (BI)</h3>
    <h5>Hospital Israelita Albert Einstein</h5>

    <p>Esta experiência foi um <b>Estágio</b>, e aprendi muito com a equipe do <b>Núcleo BI</b> do setor <b>Big Data & Analytics</b>.</p>

    <p>Nesta atividade eu tive contato com a linguagem <b>SQL</b>, e aprendi a aplicar as consultas <b>SQL</b> em relatórios dinâmicos e paginados.</p>

    <p>Também aprendi sobre administração de banco de dados e boas práticas para criação de Bancos, Tabelas, Colunas, etc...</p>

    <p>O processo <b>ETL - Extract, Transform and Load</b> foi muito utilizado durante a atividade. Esse processo de integração de dados era necessário para atualizar a carga de dados de uma tabela, desenvolver um relatório e testar o relatório com dados atualizados.</p>

    <p>Abaixo estão algumas linguagens e ferramentas e metodologia com que trabalhei:</p>

    <ul>
        <li>Linguagem <b>SQL</b>;</li>

        <li><b>SQL Server Management Studio</b>;</li>
        <li><b>SQL Server Integration Services</b>;</li>
        <li><b>Visual Studio Data Tools</b>;</li>
        <li><b>ETL</b>;</li>

        <li>Microsoft <b>Power BI</b>;</li>
        <li><b>SQL Server Reporting Services</b>;</li>

        <li>Microsoft <b>Azure</b>;</li>
        <li>Método <b>SCRUM</b>;</li>
    </ul>

    <hr>
    <h3>Professor de Desenvolvimento de Sistemas e Informática </h3>
    <h5>Grupo Educacional Sequencial</h5>

    <p>Esta é a minha profissão atual, e está sendo uma experiêcia muito interessante e de muito aprendizado.</p>

    <p>Sou responsável por dois cursos de nível técnico: <b>Desenvolvimento de Sistemas</b> e <b>Informática para Internet</b>.</p>

    <p>Nesta atividade eu ensino aos estudantes o que aprendi durante a minha jornada como Desenvolvedor e Analista de Dados.</p>

    <p>Existem diversos conteúdos que ensinei, mas gostaria de destacar os principais.</p>

    <p>Desenvolvimento Front-End:</p>
    <ul>
        <li><b>HTML, Javascript, Typescript e CSS</b>;</li>
        <li>Desenvolvimento com a IDE <b>Visual Studio Code</b>;</li>
        <li>Criação de projetos com <b>Angular Framework</b>;</li>
        <li>Trabalhando com Typescript.</li>
    </ul>

    <p>Desenvolvimento Back-End:</p>
    <ul>
        <li>Básico da linguagem <b>Java</b>;</li>
        <li>Desenvolvimento com a IDE <b>Eclipse</b>;</li>
        <li>Projetos CRUD com <b>MySQL</b>;</li>
        <li>Criação de projetos com <b>Spring Boot</b>;</li>
        <li>Criação de API <b>RESTful</b>;</li>
        <li>Testes de requisição com <b>Postman</b>;</li>
        <li><b>Swagger</b>.</li>
    </ul>

    <p>Desenvolvimento Full Stack:</p>
    <ul>
        <li>Desenhando o projeto com <b>Figma</b> e <b>Canva</b>;</li>

        <li>Criação de projeto <b>Spring Boot</b> + <b>Eclipse IDE</b>;</li>
        <li>Integração com <b>MySQL</b>;</li>
        <li>Desenvolvimento de APIs;</li>
        <li>Testes com <b>Postman</b>;</li>

        <li>Criação de projeto <b>Angular</b> + <b>Visual Studio Code</b>;</li>
        <li>Consumo de APIs;</li>
        <li>Definindo estilos com <b>CSS</b>.</li>
    </ul>

    <p>Banco de Dados:</p>
    <ul>
        <li>Linguagem <b>SQL</b> e seus comandos;</li>
        <li>O que é <b>Banco de Dados Relacional</b>;</li>

        <li>Conhecendo o <b>MySQL Command Line;</b></li>
        <li>Conhecendo o <b>MySQL Workbench</b>;</li>

        <li>Conhecendo <b>Power BI</b>.</li>

    </ul>

    <p>Existem outros conhecimentos que não posso deixar de destacar, como:</p>
    <ul>
        <li>Apresentando o <b>Github</b>;</li>
        <li>Aprendendo comandos <b>Git</b>.</li>
    </ul>

</div>