<section>
    <!--Experiência Profissional-->          
    <div class="experience fade-in">
        <h2 class="tema-pagina" style="text-align: end;">Experiência Profissional</h2>
        <div class="container text-profissional">
            <p>Para resumir, abordarei apenas as atividades relacionadas ao meu interesse profissional.</p>

            <h4 style="margin-top: 30px;"><b>Hospital Israelita Albert Einstein</b></h4>
            <p>Em julho de 2022 até junho de 2023, recebi a oportunidade de trabalhar no setor <b>Big Data & Analytics</b>, no núcleo <b>Business Intelligence</b>.</p>

            <p>Minhas reponsabilidades:</p>
            <ul>
                <li>Coletar, limpar e preparar dados para análise;</li>
                <li>Projetar e desenvolver dashboars interativos;</li>
                <li>Criar Tabelas e Colunas com padrão de boas práticas;</li>
                <li>Configurar, implementar e otimizar relatórios novos ou existentes no Power BI;</li>
                <li>Alinhamento de prazos, garantia, entrega e requisitos de relatório com usuários e partes interessadas;</li>
                <li>Fornecer treinamento para usuários finais sobre ferramentas e recursos relacionados aos relatórios gerados.</li>
                <li>Estabelecer políticas, procedimentos para a gestão de dados, e garantir qualidade e integridade de dados;</li>
            </ul>

            <p>Ao longo da minha jornada eu trabalhei com:</p>
            <ul>
                <li>Visual Studio Data Tools;</li>
                <li>SQL Server;</li>
                <li>SQL Server Reporting Services;</li>
                <li>SQL Server Integration Services;</li>
                <li>Power BI;</li>
                <li>ETL.</li>
            </ul>

            <p>As habilidades que precisei para esta experiência foram:</p>
            <ul>
                <li>Pensamento Analítico;</li>
                <li>Trabalho em Equipe;</li>
                <li>Resolução de Problemas;</li>
                <li>Gestão do Tempo;</li>
                <li>Liderança Técnica;</li>
                <li>Atenção aos Detalhes;</li>
                <li>Proatividade;</li>
                <li>Comunicação;</li>
                <li>Resiliência;</li>
                <li>Prontidão;</li>
                <li>Empatia.</li>
            </ul>


            
            <!--
            <p>Ganhei experiência ao trabalhar com relatórios paginados utilizando o <i>SQL Server Reporting Services</i> (SSRS).</p>

            <p>Para a atividade, era necessário ter o conhecimento sobre Scripts e Queries criadas e executadas no <i>SQL Server Management Studio</i>. O script é aplicado no <i>Reporting Services</i> e os ajustes de conexão ao Banco de Dados eram aplicados. Com alguns filtros e design o relatório era gerado.</p>

            <p>Os testes do relatório deviam ser feitos com dados atualizados, e utilizando o <i>Visual Studio Data Tools</i>, a conexão era realizada entre os bancos, e a extração, transformação e o carregamento (ETL) dos dados eram realizados. Após as atualizações e testes, a solicitação para mudança no ambiente de produção era solicitada, e se aprovado, o relatório era anexado do ambiente de desenvolvimento para o ambiente de produção.</p>

            <p>Outra tarefa realizada foi a criação de colunas e tabelas, para um novo projeto. Seguindo o padrão de boas práticas, e com ajuda da Governança de Dados, era criado cards no Azure, onde as mudanças realizadas no Banco de Dados eram sugeridas e solicitadas para aprovação.</p>

            <p>Além do que foi abordado acima, ganhei experiência com: Excel, Power BI, Dbdesigner etc.</p>

            <p>Neste estágio aperfeiçoei o meu <b>trabalho em equipe</b>, <i>organização</i>, <i>atenção aos detalhes</i>, <i>proatividade</i>, <i>comunicação</i> e <i>prontidão</i>. Sempre me esforcei para estar a disposição e pedir ajuda quando necessário. Entendo que, escutar e aceitar feedbacks e aprender com os erros me ajudam a ser um profissional melhor. Recebi muitos elogios pela pessoa e principalmente pelo profissional, e embora o contrato de estágio tenha acabado, essa foi a experiência profissional muito positiva.</p>-->

            <h4 style="margin-top: 30px;"><b>Professor de Informática</b></h4>
            <p>No período de Agosto ate Dezembro de 2023, trabalhei no projeto <b>NovoTech</b> da <b>Escola Técnica Sequencial</b>.</p>

            <p>O objetivo deste projeto envolve ensinar alunos da rede pública estadual, que estão no Ensino Médio Técnico, matérias voltadas a tecnologia e sustentabilidade.</p>

            <p>As matérias que ensinei foram: <i>Banco de Dados</i>, <i>Segurança da Informação</i>, <i>Desenvolvimento WEB</i> e <i>Trabalho de Conclusão de Curso</i>. Dentro destas matérias, criei exercícios, trabalhos e provas, onde acompanhava o desempenho dos alunos seguindo o calendário escolar.</p>

            <p>A organização era primordial para preparar o conteúdo das aulas. Dessa forma, as matérias deveriam ser de qualidade para os alunos conseguirem compreender o que era ensinado.</p>

            <p>As habilidades que precisei para esta experiência foram:</p>
            <ul>
                <li>Comunicação Clara e Eficaz;</li>
                <li>Paciência;</li>
                <li>Empatia;</li>
                <li>Adaptabilidade;</li>
                <li>Gestão do Tempo;</li>
                <li>Criatividade;</li>
                <li>Motivação;</li>
                <li>Trabalho em Equipe;</li>
                <li>Habilidade para Resolver Problemas.</li>
            </ul>

            <h4 style="margin-top: 30px;"><b>Desenvolvimento de um Site</b></h4>

            <p>Este é um projeto onde aproveitei a oportunidade para aperfeiçoar meus conhecimentos e técnicas com projeto front-end em Angular.</p>

            <p>Um familiar tem uma empresa que está crescendo no ramo de vendas de produtos de reforma e construção. Visando o interesse do Presidente em usar a internet como uma forma de apresentar sua empresa ao mundo, fiz a proposta de criar um site onde apresentaria, de forma básica, a sua empresa, e futuramente poderia fazer melhorias, como transformar em um site de vendas.</p>

            <p>O objetivo aqui era criar um site responsivo, com os seguintes componentes:</p>
            <ul>
                <li>Tela de Introdução;</li>
                <li>Tela que explique a História da Empresa e qual o Ramo;</li>
                <li>Tela para apresentar os Serviços e Portifólio;</li>
                <li>Tela para Contatos;</li>
            </ul>

            <p>Depois de meses trabalhando no projeto, e próximo do fim de sua conclusão, chegou a notícia de que o projeto não seria mais continuado. Mesmo assim, deixo este projeto disponível em meu GitHub, como uma forma de mostrar a minha evolução profissional.</p>

            <p>Futuramente deixarei disponível imagens deste projeto nesta página. Mas, por hora, deixarei disponível o link para os scripts do <a href="https://github.com/LucasHerculanoAmaro/Denart_site">meu projeto</a> no GitHub.</p>
            
            <p>Acredito nesse projeto, e vou continuar trabalhando, trazendo novas funcionalidades e dando um novo sentido a ele.</p>

        </div>
    </div>
</section>