<div class="container fade-in">

    <div class="texto">

        <!-- Faculdade -->
        <h3>Análise e Desenvolvimento de Sistemas</h3>

        <p>Em <b>Fevereiro de 2021</b> iniciei esta faculdade na <b>UNISA - Universidade Santo Amaro</b>, onde concluí em <b>Junho de 2023</b>.</p>

        <p>Aliado a este estudo, realizei diversas atividades extra-curriculares para complementar os meus estudos.</p>

        <p>Entre as atividades complementares, destaco o bootcamp da <b>Generation Brasil</b>, que abriu portas para futuras oportunidades profissionais.</p>

        <p>A seguir, vou explicar um pouco mais sobre o bootcamp.</p>

        <hr>

        <!-- Bootcamp -->
        <h3>Desenvolvedor Full Stack Java Jr</h3>
        
        <p>Neste bootcamp, aprendi sobre a metodologia <b>SCRUM</b>, ferramentas de desenvolvimento, linguagens de programação e tecnicas de desenvolvimento <b>Back-end</b>, <b>Front-end</b>, e <b>Full Stack</b>.</p>

        <p>Veja abaixo o conteúdo abordado:</p>

        <ul>
            <li>Método <b>SCRUM</b>;</li>

            <li>Linguagem <b>SQL</b>;</li>
            <li>Conhecendo o <b>MySQL</b>;</li>
            <li>Administração e Consultas de Banco de Dados;</li>

            <li>Desenvolvimento front-end com <b>Visual Studio Code</b>;</li>
            <li>Desenvolvendo com <b>Bootstrap</b>;</li>
            <li>Conhecendo o <b>Node.js</b> e o <b>Angular Framework</b>;</li>

            <li>Lógica de programação com <b>Portugol</b>;</li>
            <li>Básico da linguagem <b>Java</b> com <b>Eclipse IDE</b>;</li>
            <li><b>POO</b> - Programação Orientada a Objetos;</li>
            <li>Conhecendo o <b>Spring Boot</b>;</li>

            <li>Criando um projeto <b>Full Stack</b> com <b>Spring Boot</b> e <b>Angular</b>;</li>

        </ul>

        <hr>

        <!-- Outras Formações -->
        <h3>Técnico de Segurança do Trabalho</h3>

        <p>Este curso foi realizado na <b>Escola Técnica Sequencial</b>, no período de <b>2016</b> até <b>2018</b>.</p>

        <p>Talvez você se pergunte: Por que adicionar este curso ao portifólio? A resposta é que valorizo muito o que estudei e estudo e pratico o que aprendi em Segurança do Trabalho em atividades voluntárias.</p>

        <p>Outro ponto a analisar é que muitos processos e documentos relacionados a esta área ainda são organizados e armazenados em papeis. Seria uma boa ideia modificar os processos para que o profissionais, Seguranças do Trabalho, possam focar mais em cuidar de outros colaboradores.</p>

        <p>Acredito que a tecnologia ajuda a melhorar os processos burocráicos, valoliza o tempo dos profissionais e, consequentemente, aumenta a produtividade e a qualidade do ambiente de trabalho.</p>
        
        <p>Alinhado a este curso, realizei os cursos de <b>Brigada de Incendio e Prevenção de Acidentes</b>, e <b>Trabalho em Altura</b>.</p>

    </div>

</div>