/* You can add global styles to this file, and also import other style files */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
    scroll-behavior: smooth;

    button {
        background: none;
        border: none;
    }

    transition: 0.55s !important;
}

body.principal {

    --body: #48793C;

    --body-container: #D4D797;

}

body.secondary {
    
    --body: #825B27;
    /* --nav-border-background: #825B27; */

    --body-container: #D4D797;

    --card-gallery-color: #CDE6FF;

    --hover-button-gallery: #CDE6FF;

    --h2-a-nav-texto-color: black;

    --box-shadow-button-gallery-rodape: #7996b5;

    --box-shadow-container: #4a6b8d;

    --rodape-background: #95AEC9;

    --button-gallery-a-hover: white;

    --texto-btn-hover-active-disabled: black;

    --recado-color: black;
}

body {
    background-color: var(--body) !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2.0s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Fundo que corre*/
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: var(--body);
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/*Linha que desce*/
::-webkit-scrollbar-thumb {
    background: var(--body);
    border-radius: 15px;
}

/*Definição do botão para a mudança dos temas
.checkbox {
    opacity: 0;
    position: absolute;
}*/

/*
  
.label{
    background: var('--body');
    border-radius: 50px;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-left: 90px;
    margin-top: 26px;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
  
    transform: scale(1.5);

}
  
.label .ball {
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  
    height: 22px;
    width: 22px;
  
    transform: translateX(0px);
    transition: transform 0.2s linear;
}
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
  
.fa-moon {
    color: #f1c40f;
}
  
.fa-sun {
    color: #f39c12;
}
*/

/*Definição para transição suave de página
.fade-in {
    opacity: 0;
    animation: fadeIn 2.0s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
} 
*/