.texto-into{
    text-align: left;
    transform: translate(0%, 80%);
    font-size: 30px;
    

    margin-left: 290px;
    margin-bottom: 350px; 
    
    color:  var( --texto-into);
}

@media (max-width: 1100px) and (orientation: portrait) {
    .texto-into{
        font-size: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 10px 30px;
    }
}

@media (max-width: 1100px) and (orientation: landscape) {
    .texto-into{
        font-size: 30px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 10px 30px;
    }
}